<!DOCTYPE html>
{% extends 'admin_panel/base.html' %}

{% block titleBlock %}
    <title>Requests List</title>
{% endblock %}

{% block cssBlock %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block bodyBlock %}
    <div class="container">
        {% if request_list %}
            <table id="example" class="table table-striped table-bordered" style="width:100%" data-ajax="/admin_panel/api/requests/?format=datatables">
                <thead>
                    <tr>
                        <th data-data="requestor">Name</th>
                        <th class="dropdown" data-data="category">Category</th>
                        <th data-data="location">Location</th>
                        <th data-data="user_remarks">User Remarks</th>
                        <th data-data="created">Requested On</th>
                        <th data-data="urgency_rating">Urgency</th>
                        <th data-data="status_completed">Status</th>
{#                        <th>Actions</th>#}
                    </tr>
                </thead>
{#                <tbody>#}
{#                {% for request in request_list %}#}
{#                    <tr>#}
{#                        <td>{{ request.requestor }}</td>#}
{#                        <td>{{ request.category.category_name }}</td>#}
{#                        <td>{{ request.location }}</td>#}
{#                        <td>{{ request.user_remarks }}</td>#}
{#                        <td>{{ request.created }}</td>#}
{#                        <td>{{ request.urgency_rating }}</td>#}
{#                        <td>{% if request.status_completed %}Completed{% else %}Pending{% endif %}</td>#}
{#                        <td>#}
{#                            {% if request.status_completed %}{% else %}<a class="btn btn-primary btn-row text-white btn-approve" type="button" data-request="{{ request.pk }}">Approve</a>{% endif %}#}
{##}
{#                            <a class="btn btn-primary btn-row text-white btn-filter" type="button">Show Nearby</a>#}
{#                        </td>#}
{#                    </tr>#}
{##}
{#                {% endfor %}#}
{#                </tbody>#}
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th class="dropdown">Category</th>
                        <th>Location</th>
                        <th>User Remarks</th>
                        <th>Requested On</th>
                        <th>Urgency</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
            </table>
        {% else %}
            <h1>No Pending Requests</h1>
        {% endif %}
    </div>
{% endblock %}

{% block scriptBlock %}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.navbar-nav li').removeClass('active');
            $('#admin').addClass('active');
            $('#example').DataTable();
            $('.btn-approve').click(function (e) {
                var pk = $(this).attr('data-request');
                var par = $(this).parent();
                var prev = par.prev();
                $.ajax({
                    url: '{% url 'admin_panel:approve-request' %}',
                    data: {
                        'pk': pk
                    },
                    success: function (data) {
                        if(data.approved) {
                            prev.html('Completed');
                            par.html('');
                        } else {
                            console.log(data);
                        }
                    }, error: function (data) {
                        console.log(data);
                    }
                });
            });
        } );
    </script>

{% endblock %}