<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Dashboard</title>

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

    <style media="screen">


    </style>


</head>

{% if latitude == 0 and longitude == 0 %}
{% if user.is_authenticated %}
<body onload="geoFindMe()">
{% endif %}
{% else %}
<body>
{% endif %}



  <div class="container">




  <div class="jumbotron text-center">

    {% if user.is_authenticated %}
    <nav style="background-color:#05386B;" class="navbar navbar-default navbar-fixed-top">

      <div class="container">
        <ul class="nav navbar-nav">
          <li><a style="color:white" onMouseOver="this.style.color='green'" onMouseOut="this.style.color='white'" class="navbar-brand" href="{% url 'home:home' %}">Your Requests</a></li>
          <li><a style="color:white" onMouseOver="this.style.color='green'" onMouseOut="this.style.color='white'" class="navbar-link" href="">Nearby Requests</a></li>
          <li><a style="color:white" onMouseOver="this.style.color='green'" onMouseOut="this.style.color='white'" class="navbar-link" href="{% url 'auths:logout' %}">Logout</a></li>
        </ul>
      </div>

    </nav>
    <br>
    <p id = "status"></p>

    <h1>Dashboard</h1>

    <a style="display:none" id = "map-link" target="_blank"></a>
    <form style="display:none" action="{% url 'home:home' %}" method="post">
      {% csrf_token %}
      <input id="latitude" type="text" name="latitude" value="">
      <input id="longitude" type="text" name="longitude" value="">
      <input id="latLonSubmit" type="submit" name="coordinatesSubmitted" value="">
    </form>

      <p>Logged as {{ user.username }}</p>

      &nbsp;
      {% if not user.profile %}
      <a class="btn btn-primary" href="{% url 'auths:profileCollection' %}">Add Phone Number</a>
      {% endif %}
      <br> <br>
      {% if latitude != 0 or longitude != 0  %}
      <a class="btn btn-primary" href="{% url 'home:postForm' %}">Add Request</a>
      {% else %}
      <p>Your current location has not been calculated yet. Please wait for it in order to post.</p>
      {% endif %}
      <br><br>
      <form class="" action="{% url 'home:home' %}" method="post">
        {% csrf_token %}
        <input type="submit" name="refreshLocation" value="Refresh Current Location">
      </form>
    </div>
    <h2>Your Requests: </h2>

    {% if queryset %}

    <div class="container-fluid">

      {% for post in queryset %}
        <div class="jumbotron">

          <h4>Requestor: {{ post.request.requestor.username }}</h4>
          <p><b>Requirement:</b> {{ post.request.requirement }}</p>
          <p><b>Category:</b> {{ post.request.category }}</p>
          <p><b>Address:</b> {{ post.request.address }}</p>
          <p><b>City:</b> {{ post.request.city }}</p>
          <p><b>State:</b> {{ post.request.state }}</p>
          {% if post.request.user_remarks %}
          <p><b>Remarks: </b>{{ post.request.user_remarks }}</p>
          {% endif %}
          <p><b>Request made on: </b>{{ post.request.created }}</p>
          <p><b>Urgency Rating: </b>{{ post.request.urgency_rating.count }}</p>

          <form action="{% url 'home:home' %}" method="post">
            {% csrf_token %}
            {% if post.liked %}
            <button class="btn btn-danger" type="submit" name="postToLike" value="{{ post.request.requestor.username }} {{ post.request.timestamp_for_id }}">Remove Urgency</button>
            {% else %}
            <button class="btn btn-primary" type="submit" name="postToLike" value="{{ post.request.requestor.username }} {{ post.request.timestamp_for_id }}">Add Urgency</button>
            {% endif %}
          </form>
          <br><br>

          <form class="" action="{% url 'home:home' %}" method="post">
            {% csrf_token %}
            <input style="display:none" type="text" name="postToDelete" value="{{ post.request.requestor.username }} {{ post.request.timestamp_for_id }}">
            <input type="submit" name="deletePost" value="Delete Request">
            <br>
            <p>Delete if request has been satisfied</p>
          </form>
        </div>
      {% endfor %}

    </div>
    {% else %}
    <br>
    <h4>No Requests Yet</h4>
    {%endif%}
    {% else %}
      <a class="btn btn-danger" href="{% url 'auths:social:begin' 'google-oauth2' %}">
        Login with Google
      </a>
      &nbsp;
      <a class="btn btn-primary" href="{% url 'auths:login'%}">
        Login
      </a>
    {% endif %}
  </div>



</div>



  <script type="text/javascript">
    function geoFindMe() {

      const status = document.querySelector('#status');
      const mapLink = document.querySelector('#map-link');
      const latLink = document.getElementById('latitude')
      const lonLink = document.getElementById('longitude')
      const submitCoor = document.getElementById('latLonSubmit')

      mapLink.href = '';
      mapLink.textContent = '';

      function success(position) {
        const latitude  = position.coords.latitude;
        const longitude = position.coords.longitude;

        status.textContent = '';
        mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
        mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;

        lonLink.value = longitude
        latLink.value = latitude
        submitCoor.click()


      }

      function error() {
        status.textContent = 'Unable to retrieve your location';
      }

      if (!navigator.geolocation) {
        status.textContent = 'Geolocation is not supported by your browser';
      } else {
        status.textContent = 'Locating…';
        navigator.geolocation.getCurrentPosition(success, error);
      }

    }


  </script>

</body>
</html>
