<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ postToShow.request.requirement }} Required</title>



    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

      <style media="screen">

        hr {
          border: 0;
        clear:both;
        display:block;
        width: 96%;
        background-color:black;
        height: 5px;
      }

      </style>




  </head>
  <body>


    <nav style="background-color:#05386B;" class="navbar navbar-default navbar-fixed-top">

      <div class="container">
        <ul class="nav navbar-nav">
          <li><a style="color:white" onMouseOver="this.style.color='green'" onMouseOut="this.style.color='white'" class="navbar-brand" href="{% url 'home:home' %}">Your Requests</a></li>
          <li><a style="color:white" onMouseOver="this.style.color='green'" onMouseOut="this.style.color='white'" class="navbar-link" href="{% url 'home:main_page' %}">Nearby Requests</a></li>
          <li><a style="color:white" onMouseOver="this.style.color='green'" onMouseOut="this.style.color='white'" class="navbar-link" href="{% url 'auths:logout' %}">Logout</a></li>
        </ul>
      </div>

    </nav>

    <br><br>

    <br><br>

    <div class="container">

      <div style="padding: 15px;" class="jumbotron">

        <p style="float: left;"><b>Requirement: </b>{{ postToShow.request.requirement }} </p>
        <p style="float: right;"><b>Category: </b>{{ postToShow.request.category }} </p>
        <br style="clear:both" />
        <p style="float: left;"><b>Requestor: </b>{{ postToShow.request.requestor.username }}</p>
        <p style="float:right"><b>Address: </b>{{ postToShow.request.address }}</p>
        <br style="clear:both" />
        <p style="float:right"><b>City: </b>{{ postToShow.request.city }}</p>
        <br style="clear:both" />
        <p style="float:right"><b>State: </b>{{ postToShow.request.state }}</p>
        {% if postToShow.request.user_remarks %}
          <br style="clear:both" />
          <p><b>User remarks: </b>{{ postToShow.request.user_remarks }}</p>
        {% endif %}
        <p><small><b>Urgency Rating: </b>{{ postToShow.request.urgency_rating.count }}</small></p>

        <br style="clear:both" />
        <form class="" action="{% url 'home:open_post' postToShow.request.requestor.username postToShow.request.timestamp_for_id %}" method="post">
          {% csrf_token %}
          {% if postToShow.liked %}
            <button class="btn btn-danger" type="Submit" name="Like">Remove Urgency</button>
          {% else %}
            <button class="btn btn-primary" type="Submit" name="Like">Add Urgency</button>
          {% endif %}
        </form>


      </div>
      <hr>

      <form action="{% url 'home:open_post' postToShow.request.requestor.username postToShow.request.timestamp_for_id %}" method="post">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <br>
        <input class="btn btn-success" type="Submit" name="commentMade" value="Submit">
      </form>

      <br>

      <div class="main-comment-section">

        <h3><b>{{ comments.count }} Comment{{ comments|pluralize }}</b></h3>

        {% for comment in comments %}

        <blockquote class="blockquote">
        <p class="mb-0">{{ comment.content }}</p>
        <footer class="blockquote-footer">by <cite title="Source Title">{{ comment.user }}</cite></footer>
        </blockquote>

        {% endfor %}

      </div>


    </div>




  </body>
</html>
